.header{
    width: 100%;
    height: 5%;
    background-color: #436EEE;
    border: 2px solid;
    border-radius: 25px;
    margin-bottom: 20px;
}

.title {

}


.dropDownDiv {
    margin-left: 650px;
    width: 600px;
}

.dropDownFilter {
    width:300px;
    float:left;
}

.dropDownImages {
    float:right;
    width:300px;
}

.profileImage {
    float: left;
    width: 100px;
    height: 50px;
}
.profileImage img {
    width: 100%;
    height: auto; 
    position: relative;
    float: left;
    margin:0;
    display: block; 
}
.infoText {
    width:20%;
    margin: 0 auto;
}

.results {
    height:90%;
    width:650px;
    float:left;
}
.result {
    margin-left: 10px;
    border: 2px solid;
    border-radius: 10px;
    height: 100%; 
    position: relative;
    width: 600px;
    overflow:hidden;
    margin-bottom:10px;
}
.stats {
    margin-left: 10px;
    width: 300px;
}
p {
    margin-top: 0;
   margin-bottom: 2px;
}

h1{
    margin-left: 10px;
    font-size: 2em;
    font-family: Verdana, 'Lucida Sans Unicode', sans-serif;
}