#filter,
#filter ul {
	list-style: none;
	padding: 0em;
}
#filter ul {margin: 0 0 0 2em;}

#filter li {
	background-color: #fff;
	margin: 0.6em 0.3em 0.3em 0.3em;
	padding: 0.3em;
}

#filter>li,
#filter>li>ul>li>ul>li,
#filter>li>ul>li>ul>li>ul>li>ul>li,
#filter>li>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li {
	background-color: #e9e9e9;
}