<head>
<title>jQuery Beispiel</title>
<script src="jquery-2.1.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
		var test = $( "#form" ).submit()
		});
		alert(test);

 
</script>
<style type="text/css">
div#test {
width:100px;
height:100px;
background:#FF0000;
}
</style>
</head>
<body>
<div id="test">Ein Beispiel</div>

<form id="form" method="get" action="http://www.google.de/searchbyimage">
	<input id="query"  type="text" name="image_url" value="http://i.imgur.com/j3shP.jpg">
	<input type=hidden name="encoded_image" value="" />
	<input type=hidden name="image_content" value="" />
	<input type=hidden name="filename" value="" />
	<input type=hidden name="num" value="10" />
	<input type=hidden name="hl" value="en" />
	<input type=hidden name="authuser" value="0" />
	<input type=hidden name="bih" value="638" />
	<input type=hidden name="biw" value="1366" /><br> 
	<input type=submit name="biw" value="search" />
</form>



</body>